<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="FileHandlingSuite" verbose="1" >
    <test name="PuAccountNumberInfoParserTest">
        <classes>
            <class name="org.complitex.osznconnection.file.calculation.adapter.PuAccountNumberInfoParserTest"/>
        </classes>
    </test>
    <test name="BuildingNumberConverterTest">
        <classes>
            <class name="org.complitex.osznconnection.file.service.BuildingNumberConverterTest"/>
        </classes>
    </test>
</suite>
