<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket>
    <head>
        <title></title>
    </head>
    <body>
        <wicket:panel>
            <table border="0" cellspacing="0" cellpadding="0" class="tbForm">
                <tr>
                    <th><wicket:message key="from"/><b class="blue">*</b>:</th>
                    <td><select wicket:id="from"></select></td>
                </tr>
                <tr>
                    <th><wicket:message key="to"/><b class="blue">*</b>:</th>
                    <td><select wicket:id="to"></select></td>
                </tr>
            </table>
        </wicket:panel>
    </body>
</html>
