<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="org.complitex.dictionaryfw.entity.StringCulture" alias="StringCulture"/>
        <typeAlias type="org.complitex.dictionaryfw.entity.InsertParameter" alias="InsertParameter"/>
        <typeAlias type="org.complitex.dictionaryfw.entity.DomainObject" alias="DomainObject"/>
        <typeAlias type="org.complitex.dictionaryfw.entity.Attribute" alias="Attribute"/>
        <typeAlias type="org.complitex.dictionaryfw.entity.example.DomainObjectExample" alias="DomainObjectExample"/>
    </typeAliases>

    <environments default="local">        
        <environment id="local">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="jdbc/osznconnectionResource"/>
            </dataSource>
        </environment>
        <environment id="remote">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="jdbc/osznconnectionRemoteResource"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="org/complitex/dictionaryfw/entity/Locale.xml"/>
        <mapper resource="org/complitex/dictionaryfw/entity/Sequence.xml"/>
        <mapper resource="org/complitex/dictionaryfw/entity/StringCulture.xml"/>
        <mapper resource="org/complitex/dictionaryfw/entity/description/Entity.xml"/>
        <mapper resource="org/complitex/dictionaryfw/entity/Attribute.xml"/>
        <mapper resource="org/complitex/dictionaryfw/entity/DomainObject.xml"/>

        <mapper resource="org/complitex/osznconnection/information/strategy/building/Building.xml"/>
        <mapper resource="org/complitex/osznconnection/information/strategy/street/Street.xml"/>

        <mapper resource="org/complitex/osznconnection/organization/strategy/Organization.xml"/>

        <mapper resource="org/complitex/osznconnection/admin/service/UserBean.xml"/>
        <mapper resource="org/complitex/dictionaryfw/service/LogBean.xml"/>
        <mapper resource="org/complitex/osznconnection/logging/service/LogListBean.xml"/>

        <mapper resource="org/complitex/osznconnection/file/service/PaymentBean.xml"/>
        <mapper resource="org/complitex/osznconnection/file/service/CorrectionBean.xml"/>
        <mapper resource="org/complitex/osznconnection/file/service/AddressCorrectionBean.xml"/>
        <mapper resource="org/complitex/osznconnection/file/service/OwnershipCorrectionBean.xml"/>
        <mapper resource="org/complitex/osznconnection/file/service/RequestFileBean.xml"/>
        <mapper resource="org/complitex/osznconnection/file/service/BenefitBean.xml"/>
        <mapper resource="org/complitex/osznconnection/file/service/TarifBean.xml"/>
        <mapper resource="org/complitex/osznconnection/file/service/PersonAccountLocalBean.xml"/>
        <mapper resource="org/complitex/osznconnection/file/calculation/service/CalculationCenterBean.xml"/>

        <mapper resource="org/complitex/osznconnection/file/calculation/adapter/DefaultCalculationCenterAdapter.xml"/>
    </mappers>
</configuration>
