<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
    <div wicket:id="container">
        <ul>
            <li wicket:id="root_status_details">
                <a wicket:id="expand_root">
                    <span wicket:id="root_name"></span>
                </a>
                <ul wicket:id="status_detail_container">
                    <li wicket:id="status_details">
                        <a wicket:id="filter_link">
                            <span wicket:id="name"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</wicket:panel>
</html>